{
    "NODE_ENV": "production",
    "VITE_API_URL": "your-backend.duckdns.org/",
    "VITE_PORT": "5173",

    "DUCKDNS_TOKEN": "your-token",
    "DOMAIN": "your-domain.duckdns.org",
    "FRONTEND_DOMAIN": "spotifew.your-domain.duckdns.org",
    "TRAEFIK_DOMAIN": "traefik.your-domain.duckdns.org"

    "TRAEFIK_CONTAINER": "traefik",
    "FRONTEND_CONTAINER": "frontend",
    "ACME_EMAIL": "your-mail@mail.com"
}
