.page {
  padding: 20px;
  color: white;
  position: relative;
  z-index: 20000;
}

h1 {
  font-size: 25px;
  margin-bottom: 10px;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #2d53ff;
  color: white;
  border-radius: 5px;
  font-size: 16px;
}

.box {
  margin-top: 15px;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 8px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.75;
  z-index: 10000;
}
