
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #111; 
  color: white;
}


.page {
  max-width: 420px;
  margin: 70px auto;
  padding: 20px;
}


h1 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
}


input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #333;
  background: #1a1a1a;
  color: white;
  font-size: 15px;
}

input::placeholder {
  color: #ffffff;
}


button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 6px;
  background: #1245ff;
  color: white;
  font-size: 15px;
}

button:active {
  opacity: 0.8;
}


.box {
  margin-top: 18px;
  padding: 15px;
  border-radius: 8px;
  background: #1a1a1a;
  border: 1px solid #333;
}

.box p {
  margin: 6px;
}

/* --login et logout bouton*/
.login-btn,
.logout-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  background: #1a1a1a;
  border: 1px solid #333;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  cursor: pointer;
}

.login-btn:active,
.logout-btn:active {
  
  opacity: 0.7;
}





.prFaireVite button {
  background: #6b6060;
  border: 1px solid #333;
  color: white;
}

.prFaireVite button:active {
  opacity: 0.7;
}
