html {
  height: 100%;
  overflow-y: hidden;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  background: #050b12;
  background-image: url("../src/assets/musicBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 600px;
  margin: auto;
}

input, button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  font-weight: bold;
}

button:hover {
  background: #22f8d0;
}

.card {
  background: #222;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
