body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
  padding: 30px;
}

.container {
  max-width: 600px;
  margin: auto;
}

input, button {
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  font-weight: bold;
}

button:hover {
  background: #22f8d0;
}

.card {
  background: #222;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}
